@import url("./colors.css");
* {
	border: none;
	border-radius: 0;
	/*font-family: "Hack Nerd Font Mono";*/
	font-size: 11pt;
	min-height: 0;
	color: @foreground;
}

#waybar {
	background: @background-darker;
}

#workspaces {
	background: @background;
}

#workspaces button {
	padding: 0 10px;
	margin: 0px 0px;
	background-image: linear-gradient(0deg, @background, @background-darker);
	color: @foreground;
}
#workspaces button:hover {
	box-shadow: inherit;
	text-shadow: inherit;
	background-image: linear-gradient(0deg, @selection, @background-darker);
}
#workspaces button.active {
	background-image: linear-gradient(0deg, @purple, @selection);
}
#workspaces button.urgent {
	background-image: linear-gradient(0deg, @red, @background-darker);
}
#taskbar button.active {
	background-image: linear-gradient(0deg, @selection, @background-darker);
}
#clock {
	padding: 0 4px;
}

#window {
	padding-left: 10px;
	padding-right: 10px;
	transition: none;
	color: transparent;
	background: transparent;
}

#tags {
	margin-left: 12px;
	font-size: 4px;
	margin-bottom: 0px;
	transition: none;
}

#network,
#pulseaudio,
#clock,
#memory,
#cpu,
#tray,
#launcher {
	margin: 0px;
	padding: 0px 10px;
	transition: none;
	color: @purple;
	background-image: linear-gradient(0deg, @background, @blue);
}
